.footer-wrapper {
  display: flex;
  gap: 100px;
  place-items: center;
  justify-content: center;
}

.footer-wrapper img {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}