@keyframes strobetart {
  0% {
    transform: skew(0deg, 0deg) scaleY(1);
    animation-timing-function: ease-in;
  }

  40% {
    transform: skew(0deg, 0deg) scaleY(.9);
    animation-timing-function: ease-out;
  }

  100% {
    transform: skew(4deg, 0deg) scaleX(1);
  }
}

@keyframes strobe {
  00% {
    transform: skew(4deg, 0deg) scaleX(1);
  }

  10% {
    transform: skew(1deg, 0deg) scaleY(.9);
  }

  50% {
    transform: skew(-4deg, 0deg) scaleX(1);
  }

  60% {
    transform: skew(-1deg, 0deg) scaleY(.9);
  }

  100% {
    transform: skew(4deg, 0deg) scaleX(1);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(0eg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
