.menu-left {
  margin-left: 10px;
  display: flex;
  gap: 9px;
}

.menu-left__logo {
  color: $fonts-color;
}

.menu-left__reset {
  width: 91px;
  height: 31px;
  border: none;
  background-color: $buttonColor;
  color: $fonts-color;
  place-items: center;
  margin-top: 14px;
  cursor: pointer;
}
