.table {
  transform-style: preserve-3d;
  outline: solid 1px transparent;
  margin: 0px auto 0px auto;
  padding: 15px 15px 22px 15px;
  display: inline-block;
  z-index: 999;
  position: relative;
  white-space: nowrap;
  display: flex;
}

.table__strobe {
  width: 100px;
  transform-origin: bottom;
  // animation: strobeStart .5s ease-out, strobe 1s infinite;
  // animation-delay: 0s, .5s;
  cursor: pointer;
}

.table__strobe:hover {
  box-shadow: 0px 0px 0px 6px rgba(255, 255, 255,.4);
}

plate:before {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 32px);
  top: calc(50% - 32px);
  height: 65px;
  width: 65px;
  border-radius: 60px;
  border-top: solid 6px #CCC;
  opacity: .4;
  background: rgba(255,255,255,1);
}

plate {
  border-bottom: solid 5px #DDD;
  background: white;
  border-radius: 100px;
  border-radius: 100px;
}

bento, plate {
  box-shadow: 0px 8px 0px rgba(0,0,0,.1);
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 10px;
  position: relative;
}

.table img {
  width: 97px;
  height: 130px;
  cursor: pointer;
}

apple {
  border-radius: 100px;
  border-style: solid;
  border-width: 2px 4px 15px 4px;
  position: relative;
  background: #e41919;
  border-color: #ab1212;
  display: flex;
  height: 38px;
  margin: 20px 24px;
}

#fancy:after {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 44px);
  height: 68px;
  width: 74px;
  border-radius: 60px;
  border: solid 10px #009ff2;
  opacity: .4;
}

bento {
  height: 100px;
  background: brown;
  position: relative;
  border: solid 3px #711c12;
}

bento:hover {
  box-shadow: 0px 0px 0 6px rgba(255,255,255,.4);
  cursor: pointer;
}

.strobe:hover {
  box-shadow: 0px 0px 0 6px rgba(255,255,255,.4);
  cursor: pointer;
}

apple:hover {
  box-shadow: 0px 0px 0 6px rgba(255,255,255,.4);
  cursor: pointer;
}

orange {
  background: orange;
  border-color: #bd6e07;
  border-radius: 100px;
  border-style: solid;
  border-width: 2px 4px 15px 4px;
  position: relative;
  display: flex;
  margin: 13px;
  height: 50px;
}

orange:hover {
  box-shadow: 0px 0px 0 6px rgba(255,255,255,.4);
}

pickle {
  background: #179837;
  border-radius: 30px;
  position: relative;
  border: solid 2px #025a18;
  border-width: 2px 2px 9px 2px;
  display: flex;
  width: 18px;
  height: 49px;
  margin: 24px 40px;
}

pickle:hover {
  box-shadow: 0 0 0 6px rgba(0, 0, 0, .3);
}

apple.small {
  height: 20px;
  margin: 31px 32px;
}

orange.small {
  height: 20px;
  margin: 31px 32px;
}

.table__strobe apple:hover {
  box-shadow: 0 0 0 6px rgba(0, 0, 0, .3);
}

.table__strobe pickle:hover {
  box-shadow: 0 0 0 6px rgba(0, 0, 0, .3);
}

.table__strobe orange:hover {
  box-shadow: 0 0 0 6px rgba(0, 0, 0, .3);
}




